@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To File Manager Server</h1>
    <p> <a href='"@Html.ActionLink("Login","Account","Login")"'>Click to Redirect to Private File Repository</a>.</p>
</div>
